<h1>
  <small>Day #26</small> 3D Layers</h1>

<div class="sandbox">
  <h2>Sandbox
    <small>This is where you play</small>
  </h2>
  <div class="content">

    <p>
      <strong>Instructions:</strong> Create a 3D layer effect with CSS3!</p>

    <section>

      <h4>3D Layer Effect</h4>

      <div class="layers">
        <img src="./public/img/back.svg" alt="back layer" class="back">
        <img src="./public/img/mid.svg" alt="mid layer" class="mid">
        <img src="./public/img/top.svg" alt="top layer" class="top">
        <img src="./public/img/tippytop.svg" alt="tippy top layer" class="tippy">
      </div>

    </section>

  </div>
</div>

{{> info about = "Fun &amp; fancy ways to create a 3D layer effect with CSS3!"}}