<h1>
  <small>Day #19</small> Animated Progress Bars
</h1>

<div class="sandbox">
  <h2>Sandbox
    <small>This is where you play</small>
  </h2>
  <div class="content">

    <p>
      <strong>Instructions:</strong> Create CSS only progress bars that animate below!</p>

    <section>
      <h4>Example #1</h4>
      <div class="animation-bar-1">
        <span style="width:60%"></span>
      </div>
    </section>

    <section>
      <h4>Example #2</h4>
      <div class="animation-bar-2">
        <span data-label="Loading"></span>
      </div>
    </section>

  </div>
</div>
  
  {{> info about = "Fun &amp; fancy ways to create CSS only progress bars!"}}

  