<h1>
  <small>Day #21</small> Animated Spinners
</h1>

<div class="sandbox">
  <h2>Sandbox
    <small>This is where you play</small>
  </h2>
  <div class="content">
    <p>
      <strong>Instructions:</strong> Create CSS only spinners that animate below!</p>
    <section>
      <h4>Example #1</h4>
      <div class="spinner-1"></div>
    </section>

    <section>
      <h4>Example #2</h4>
      <div class="spinner-2"></div>
    </section>

  </div>
</div>


  {{> info about = "Fun &amp; fancy ways to create CSS only animated spinners!"}}
  