<h1>
    <small>Day #24</small> @supports rule</h1>

  <div class="sandbox">
    <h2>Sandbox
      <small>This is where you play!</small>
    </h2>
    <div class="content">
      <section>
        <h3>Do you see a circle? Your browser is good.</h3>
        <p>Don't see a circle? The @supports property knows that, and didn't serve up that style for you.</p>
        <div class="circle">A circle.</div>
      </section>
    </div>
  </div>
  
  {{> info about = "A simple rule to check if a browser can render specific CSS properties!"}}