<h1>
    <small>Day #2</small> Sexy Typography</h1>

  <div class="sandbox">
    <h2>Sandbox
      <small>This is where you play</small>
    </h2>
    <div class="content">

      <p>
        <strong>Instructions:</strong> Use CSS3 to create visually attractive typography and cool text effects!
      </p>

      <section>
        <h4 class="shadow-typo">Cool Shadow</h4>
      </section>

      <section>
        <h4 class="threedee-typo">3D Type</h4>
      </section>

    </div>
  </div>

{{> info about="Fun &amp; fancy exercises with text and CSS3!"}}  
